// -ant-modal-no-footer-
.ant-modal-no-footer .ant-modal-footer {
    display: none;
}

// -ant-modal-img-
.ant-modal-img img {
    max-width: 100% !important;
}

// -ant-image-mask-info-
.ant-image-mask-info {
    display: none !important;
}