// -ant-modal-no-footer-
.ant-modal-no-footer .ant-modal-footer {
    display: none;
}

// -ant-modal-img-
.ant-modal-img img {
    max-width: 100% !important;
}

// -ant-image-mask-info-
.ant-image-mask-info {
    display: none !important;
}

// -ant-form-item-explain-error-
.ant-form-item-explain-error {
    margin-top: .7rem !important;
    margin-bottom: .7rem !important;
}