.bg-green {
    background-color: $green;
}

.bg-darkgrey {
    background-color: $darkgrey;
}

.bg-lightgrey {
    background-color: $lightgrey3;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-white {
    background-color: $white;
}

@media (min-width: 992px) {

    .bg-lg-transparent {
        background-color: transparent;
    }

}

@media (max-width: 991.98px) {

    .bg-green-till-lg {
        background-color: $green;
    }

}