.white-border-top {
    border-top: 1px solid $white;
}

.white-border-bottom {
    border-bottom: 1px solid $white;
}

.grey-border {
    border: 1px solid $lightgrey;
}

.grey-border-top {
    border-top: 1px solid $lightgrey;
}

@media (min-width: 992px) {

    .border-lg-0 {
        border: 0 !important;
    }

    .white-lg-border-bottom {
        border-bottom: 1px solid $white;
    }

}