// -btn-1-
.btn-1 {
    color: $darkgrey !important;
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
    padding: 1.3rem calc(2rem + 2vw);
    letter-spacing: 1px;
    position: relative;
    outline: 2px solid $white !important;
    outline-offset: 0px  !important;
    overflow: hidden !important;
}

.btn-1-bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    height: 50%;
    transition: all .3s;
}

.btn-1-bg-bottom-box {
    top: 50%;
}

.btn-1::before,
.btn-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 110%;
    background-color: $white;
    transition: all .3s;
}

.btn-1::after {
    left: 50%;
}

.btn-1 span {
    position: relative;
    z-index: 2;
}

.btn-1:hover,
.btn-1-reverse {
    color: $white !important;
}

.btn-1:hover .btn-1-bg-top-box,
.btn-1-reverse .btn-1-bg-top-box {
    top: -50%;
}

.btn-1:hover .btn-1-bg-bottom-box,
.btn-1-reverse .btn-1-bg-bottom-box {
    top: 100%;
}

.btn-1:hover::before,
.btn-1-reverse::before {
    left: -50%;
}

.btn-1:hover::after,
.btn-1-reverse::after {
    left: 100%;
}

.btn-1-reverse:hover {
    color: $darkgrey !important;
}

.btn-1-reverse:hover .btn-1-bg-top-box {
    top: 0;
}

.btn-1-reverse:hover .btn-1-bg-bottom-box {
    top: 50%;
}

.btn-1-reverse:hover::before {
    left: 0%;
}

.btn-1-reverse:hover::after {
    left: 50%;
}

.btn-1-small {
    padding: .9rem 2rem;
    outline-width: 1px !important;
    font-size: 14px !important;
}

@media (min-width: 992px) {
    .btn-1 {
        font-size: 18px;
    }    
}

// -btn-1-green-
.btn-1-green {
    color: $white !important;
    outline-color: $green !important;
    font-weight: normal;
    padding: .9rem 3rem;
}

.btn-1-green .btn-1-bg-box {
    background-color: $green;
}

.btn-1-green::before,
.btn-1-green::after {
    background-color: $green;
}

@media (hover: hover) {
    .btn-1-green:hover {
        color: $green !important;
    }
}

.btn-1-green:active {
    color: $green !important;
}

// -white-iconic-btn-
.white-iconic-btn {
    color: $white !important;
    font-size: 22px;
    line-height: 22px;
}

@media (hover: hover) {
    .white-iconic-btn:hover {
        color: $green !important;
    }
}

.white-iconic-btn:active {
    color: $green !important;
}

// -white-toggler-
.white-toggler .navbar-toggler-line::before,
.white-toggler .navbar-toggler-line,
.white-toggler .navbar-toggler-line::after {
    width: 27px;
    height: 1.5px;
}

.white-toggler .navbar-toggler-line::before,
.white-toggler .navbar-toggler-line::after {
    top: -9px;
}   

.white-toggler .navbar-toggler-line::after {
    top: 9px;
}

// -white-responsive-btn-
.white-responsive-btn {
    color: $white !important;
    font-size: 15px;
    text-align: center;
    padding: 1rem;
    background-color: transparent;
    transition: color .3s;
}

@media (hover: hover) {
    .white-responsive-btn:hover {
        color: $green !important;
    }
}

.white-responsive-btn:active {
    color: $green !important;
}

@media (min-width: 992px) {

    .white-responsive-btn {
       padding: 2rem 0 !important;
    }

    .white-responsive-btn.active {
        border-bottom: 2px solid $green;
    }

}

// -white-responsive-btn-2-
.white-responsive-btn-2 {
    background-color: transparent !important;
    padding: 1.1rem 0;
    transition: color .3s;
    color: $white !important;
    font-size: 13px;
    text-align: center;
}

@media (hover: hover) {

    .white-responsive-btn-2:hover {
        color: $green !important;
    }

}

.white-responsive-btn-2:active {
    color: $green !important;
}

@media (min-width: 992px) {

    .white-responsive-btn-2 {
        position: relative;
        background-color: $white !important;
        color: $darkgrey !important;
        text-align: left;
        border-bottom: 1px solid lightgrey;
    }

    .white-responsive-btn-2::before {
        content: " ";
        position: absolute;
        left: -17px;
        top: calc(50% - 1px);
        height: 2px;
        width: 0;
        background-color: $green;
        transition: width .3s;
    }

    @media (hover: hover) {
        .white-responsive-btn-2:hover::before {
            width: 10px;
        }
    }

    .white-responsive-btn-2:active::before {
        width: 10px;
    }

}

// -btn-2-
.btn-2 {
    color: $green !important;
    transition: color .3s;
}

@media (hover: hover) {

    .btn-2:hover {
        color: $darkgrey !important;
    }

}

.btn-2:active {
    color: $darkgrey !important;
}

// -btn-underline-2-
.btn-underline-2 {
    position: relative;
    padding-bottom: .5rem;
}

.btn-underline-2::before {
    content: "";
    width: 100%;
    height: 1.5px;
    background-color: $green;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: width .3s;
}

@media (hover: hover) {
    .btn-underline-2:hover::before {
        width: 0;
    }
}

.btn-underline-2:active::before {
    width: 0;
}

// -white-iconic-btn-2-
.white-iconic-btn-2 {
    color: $green !important;
    background-color: $white !important;
    outline: 1px solid $white !important;
    outline-offset: 0;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    transition: color .3s;
    position: relative;
    font-size: 18px;
}

.white-iconic-btn-2 i {
    position: relative;
    z-index: 2;
}

.white-iconic-btn-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: $green;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: all .3s;
}

@media (hover: hover) {

    .white-iconic-btn-2:hover {
        color: $white !important;
    }

    .white-iconic-btn-2:hover::before {
        transform: scale(1);
        -webkit-transform: scale(1);
    }

}

.white-iconic-btn-2:active {
    color: $white !important;
}

.white-iconic-btn-2:active::before {
    transform: scale(1);
    -webkit-transform: scale(1);
}

