// -btn-1-
.btn-1 {
    color: $darkgrey !important;
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    border-radius: 7px;
    padding: 1.3rem calc(2rem + 2vw);
    letter-spacing: 1px;
    position: relative;
    outline: 2px solid $white !important;
    outline-offset: 0px  !important;
    overflow: hidden !important;
}

.btn-1-bg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    height: 50%;
    transition: all .3s;
}

.btn-1-bg-bottom-box {
    top: 50%;
}

.btn-1::before,
.btn-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 110%;
    background-color: $white;
    transition: all .3s;
}

.btn-1::after {
    left: 50%;
}

.btn-1 span {
    position: relative;
    z-index: 2;
}

.btn-1:hover,
.btn-1-reverse {
    color: $white !important;
}

.btn-1:hover .btn-1-bg-top-box,
.btn-1-reverse .btn-1-bg-top-box {
    top: -50%;
}

.btn-1:hover .btn-1-bg-bottom-box,
.btn-1-reverse .btn-1-bg-bottom-box {
    top: 100%;
}

.btn-1:hover::before,
.btn-1-reverse::before {
    left: -50%;
}

.btn-1:hover::after,
.btn-1-reverse::after {
    left: 100%;
}

.btn-1-reverse:hover {
    color: $darkgrey !important;
}

.btn-1-reverse:hover .btn-1-bg-top-box {
    top: 0;
}

.btn-1-reverse:hover .btn-1-bg-bottom-box {
    top: 50%;
}

.btn-1-reverse:hover::before {
    left: 0%;
}

.btn-1-reverse:hover::after {
    left: 50%;
}

@media (min-width: 992px) {
    .btn-1 {
        font-size: 18px;
    }    
}
