// container-main
.container-main {
    width: 100%;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
}

@media (min-width: 992px) {

    .container-main {
        padding-left: 10%;
        padding-right: 10%;
    }

    .container-lg-main {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

}