// -fl-back-to-top-btn-
.fl-back-to-top-btn {
    background-color: $green !important;
    border: 0;
    color: #fff;
    padding: 0;
    width: 60px !important;
    height: 60px  !important;
	bottom: 4rem;
	right: 2.5rem;
    border-radius: 0!important;
}

.fl-back-to-top-btn.show {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}

.fl-back-to-top-btn::after {
    content: "";
    position: absolute;
    bottom: 100%;
    width: 100%;
    left: 0;
    border: 30px solid transparent;
    border-bottom-color: $green;
    transition: border-bottom-color .5s;
}

@media (hover: hover) {

    .fl-back-to-top-btn:hover {
        background-color: $darkgrey!important;
    }

    .fl-back-to-top-btn:hover::after {
        border-bottom-color: $darkgrey !important;
    }

}

// -play-icon- 
.play-icon {
    position: relative;
    @extend .center-all;
}

.play-icon::after {
    content: "\f01d";
    font-family: fontAwesome;
    position: absolute;
    color: #fff;
    font-size: 70px;
    transition: all .5s;
    z-index: 102;
}

@media (hover: hover) {
    .play-icon:hover::after {
        color: $green;
    }
}

.play-icon:active::after {
    color: $green;
}

// -search-icon- 
.search-icon {
    position: relative;
    @extend .center-all;
}

.search-icon::after {
    content: "\f002";
    font-family: fontAwesome;
    position: absolute;
    color: #fff;
    background-color: $green;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    opacity: 0;
    transition: all .5s;
    z-index: 102;
}

@media (hover: hover) {
    .search-icon:hover::after {
        opacity: 1;
    }
}

.search-icon:active::after {
    opacity: 1;
}

// -color-style-on-hover-
.color-style-on-hover,
.color-style-on-hover * {
    transition: all .3s;
}

@media (hover: hover) {

    .color-style-on-hover:hover {
        background-color: $white;
    }

    .color-style-on-hover:hover * {
        color: $darkgrey;
    }

}

.color-style-on-hover:active {
    background-color: $white;
}

.color-style-on-hover:active * {
    color: $darkgrey;
}