// -slider-spacing-sm-
.slider-spacing-sm .slick-slide > div {
	margin: 0 1rem !important;
}

.slider-spacing-sm .slick-list {
	margin: 0 -1rem !important;
}

// -black-slick-dots-
.black-slick-dots .slick-dots {
	width: 50%;
	margin-left: 25%;
    bottom: -65px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.black-slick-dots .slick-dots button::before {
    content: none;
}

.black-slick-dots .slick-dots button {
	margin-top: 1rem;
	cursor: pointer;
	padding: 0;
	border-radius: 50%;
	color: transparent;
	transition: background-color 0.3s ease;
    background-color: $lightgrey2;
	width: 10px !important;
	height: 10px !important;
	margin-right: 0 !important;
    margin-left: 0 !important;
}

.black-slick-dots .slick-dots .slick-active button {
	background-color: $darkgrey;
    border-color: $darkgrey;
}

.black-slick-dots .slick-dots li {
    margin-right: 2px !important;
    margin-left: 0 !important;
}

.black-slick-dots .slick-dots li:last-child button {
	margin-right: 0 !important;
} 